@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::after,
*::before {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

html {
	height: 100%;
}

:focus {
	outline-color: transparent;
}

html,
body,
div,
h1,
h2,
h3,
p,
form,
label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	display: grid;
	place-items: center;
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: linear-gradient(to bottom, #84ceff, #c6f5ff);
}

.main-box {
	display: flex;
	gap: 1em;
}

.left-pane,
.right-pane,
.middle-pane {
	display: grid;
	gap: 1em;
	justify-content: stretch;
	background-color: #fff8;
	border-radius: 10px;
	border: 1px solid #0684;
	padding: 1em;
	box-shadow: 0 10px 30px -10px #0062;
}

.left-pane,
.right-pane {
	width: min(260px, 28vw);
}

.info-card {
	display: grid;
	justify-items: center;
	gap: 0.8em;
	background-color: #fff8;
	padding: 0.8em;
	border-radius: 5px;
}

.throbber {
	height: 16px;
	display: none;
}

h3,
i {
	opacity: 0.6;
	padding-inline: 4px;
}

.middle-pane {
	grid-template-rows: 3fr 2fr;
}

.city-container {
	display: grid;
	grid-template-rows: 2fr repeat(4, 1fr);
	width: min(400px, 30vw);
	justify-items: center;
	overflow: hidden;
	border-radius: 5px;
	background-color: #fff8;
	padding-bottom: 1em;
}

.city-container > * {
	font-size: 1.2rem;
	display: grid;
	place-items: center;
}

.city-container > h1.city {
	font-size: 2em;
	text-shadow: 1px 3px 8px #0004;
	background-color: #fff8;
	width: 100%;
	text-transform: uppercase;
}

.city-container > p {
	font-size: 0.8em;
	padding-top: 1em;
	border-top: 1px solid #0001;
	width: 100%;
	opacity: 0.6;
}

.weather {
	text-transform: uppercase;
}

.input-box {
	display: grid;
	gap: 1em;
}

.search-input {
	font-size: 1rem;
	text-align: center;
	border: 1px solid #8cf;
	background-color: #fffa;
	border-radius: 5px;
	padding-inline: 1em;
	box-shadow: 0 3px 10px -3px #0042;
}

.search-input:focus-visible {
	outline: 3px solid #0088ff;
	outline-offset: -2px;
}

button {
	border: none;
	border-radius: 5px;
	background-color: #fff;
	cursor: pointer;
	transition: 140ms;
	background-color: #0088ff;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

button:hover {
	box-shadow: 0 3px 10px #0468, 0 4px 0 #0088ff;
	transform: translateY(-4px);
}

button:active {
	box-shadow: 0 3px 10px #0468, 0 1px 0 #0088ff;
	transform: translateY(-1px);
}

dialog::backdrop {
	background-color: #fffa;
	backdrop-filter: blur(5px);
}

dialog {
	border: 1px solid #0452;
	border-radius: 10px;
	box-shadow: 0 5px 20px -5px #0004;
	background-color: rgba(229, 244, 255);
	margin: auto;
	padding: 0;
	animation: modal 400ms ease;
}

@keyframes modal {
	0% {
		transform: translateY(-20vh);
	}

	100% {
		transform: translateY(0);
	}
}

.modal-content {
	display: grid;
	gap: 1em;
	padding: 1em;
	min-width: 340px;
}

.modal-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form {
	display: grid;
	grid-template-columns: 30px 1fr;
	row-gap: 0.3em;
	padding-inline-start: 1em;
	align-items: center;
}

.form > label {
	background-color: #fff8;
	padding: 1em;
	padding-inline-start: 0.6em;
	margin-inline-start: 0.3em;
	border-radius: 5px;
	box-shadow: -50px 0 0 #fffc;
}

input[type='radio'] {
	accent-color: #0088ff;
	height: 20px;
	z-index: 10;
	width: 20px;
}

.button-box {
	display: flex;
	justify-content: space-between;
	gap: 1em;
	height: 40px;
}

.button-box > * {
	flex: 1;
	cursor: pointer;
}

.submit-button {
	background-color: #0088ff;
	color: white;
}

.cancel-button {
	background-color: #ff4466;
	color: white;
}

.cancel-button:hover {
	box-shadow: 0 3px 10px rgba(102, 0, 0, 0.533), 0 4px 0 #ff0000;
}

.cancel-button:active {
	box-shadow: 0 3px 10px rgba(102, 0, 0, 0.533), 0 1px 0 #ff0000;
	transform: translateY(-1px);
}

.close-modal {
	background-color: transparent;
	color: black;
	border: 2px solid #0002;
	aspect-ratio: 1;
	padding: 0.4rem;
}

.close-modal:hover {
	box-shadow: none;
	transform: none;
}

@media screen and (max-width: 800px) {
	body {
		margin-block: 1em;
	}

	h1 {
		color: rgb(0, 19, 68);
	}

	.main-box {
		display: grid;
		grid-template-areas: 'middle-pane middle-pane' 'left-pane right-pane';
	}

	.middle-pane {
		grid-area: middle-pane;
		justify-items: stretch;
		grid-template-rows: 3fr 1fr;
	}

	.left-pane {
		grid-area: left-pane;
		width: 44vw;
	}

	.right-pane {
		grid-area: right-pane;
		width: 44vw;
	}

	.city-container {
		width: 100%;
	}

	.input-box {
		grid-template-areas: 'input input' 'left-button right-button';
		grid-template-columns: 1fr 1fr;
		height: 100px;
	}

	.search-input {
		grid-area: input;
	}
}

@media screen and (max-width: 500px) {
	body {
		font-size: 14px;
	}

	.main-box {
		width: calc(100vw - 2rem);
		display: grid;
		grid-template-areas: 'middle-pane' 'left-pane' 'right-pane';
	}

	.left-pane,
	.right-pane {
		width: 100%;
	}

	.info-card {
		display: flex;
		align-items: center;
		height: 50px;
	}

	.info-card > * {
		flex: 1;
	}

	.info-card > h3 {
		border-right: 2px solid #0004;
	}
}
